/* 
    Document   : main
    Created on : 12.02.2013, 15:41:29
    Author     : Altvirus
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
input{
    margin: 0;
}
#wrapper{
    background: #fff;
    position: relative;
    height: 100%;
    width: 980px;
    left:50%;
    margin-left: -490px;
}
#header{
    position: relative;
    height: 85px;
    width: 100%;
    border: 1px dashed #000;
    white-space: nowrap;
    
}
/*LEFT SIDE*/
#left-side{
    position: relative;
    display: inline-block;
    float: left;
    width:830px;
    height: 100%;
    
}
#logo{
    position: relative;
    display: block;
    width:200px;
    height: 50px;
    background: url(/images/logo.png);
}
/*--> MAIN_MENU*/
#main-menu{
    position: relative;
    display: block;
    height: 35px;
    width:100%;
    background: #fff;
}
#menu-container{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
}
#menu-container li{
    float: left;
    margin: 5px;
    padding:2px;
}
.menu-item{
    text-decoration: none;
    font-family: Helvetica;
    color:#6DA3BD;
    margin-right: 5px;
}
.menu-item.link:hover{
  color:#000;  
}

.linked{
    color: #000;
    border-bottom: 1px dashed #000; 
    
}
/*end of -->MAIN_MENU*/
.search{
    float:right;
}
#search-button{
  margin: 0 5px;  
}
/*end of LEFT SIDE*/

/*RIGHT-SIDE*/
#right-side{
    position: relative;
    display: inline-block;
    width:150px;
    height: 85px;
    background: #fff;
}
/*END_OF_HEADER*/

/*START_CENTER*/
#center{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background:#fff;
    white-space: nowrap;
    border-right: 1px dashed #000;
    border-left: 1px dashed #000;
}
/*MAIN_CONTENT_START*/
#main{
    position: relative;
    display: inline-block;
    width: 830px;
    float: left;
    height: auto;
    max-height: 100%;
    padding: 15px 0;
    white-space: normal;
    background: #fff;
    
}

/*END_OF_MAIN_CONTENT*/

/*RIGHT_SIDE_START*/
#right{
    position: relative;
    display: inline-block;
    width:150px;
    height: auto;
    max-height: 100%;
    padding: 15px 0;
    background: #fff;
    white-space: normal;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
}
/*END_OF_RIGHT_SIDE*/
/*END_CENTER*/

/*FOOTER_START*/
#footer{
    position: relative;
    display: block;
    width:100%;
    padding: 15px 0;
    background: #fff;
    font-family: Helvetica;
    border: 1px dashed #000;
    
}

#footer span{
    position: relative;
    left:50%;  
    margin-left: -55px;
}
/*END_OF_FOOTER*/


